<form action="/search" method="GET">
  <select type="submit" class=" form-select" id="categorySearch" name="categoryId" onchange="this.form.submit()">
    {{#if currentCategoryName}}<option>{{currentCategoryName}}</option>{{/if}}
    <option value="">類別</option>
    {{#each categories}}
    <option value="{{this._id}}">
      {{this.categoryName}}
    </option>
    {{/each}}
  </select>
</form>
<div class="text-center">
  <h1>總金額:</h1>
</div>
<ul class="list-group">
  {{#each records}}
  <li class="list-group-item d-flex justify-content-between align-items-center">
    {{!-- 支出 --}}
    <div class="d-flex justify-content-between align-items-center flex-grow-1 ms-3 me-5">
      {{!-- 名稱 --}}
      <div class="d-flex justify-content-start align-items-center">
        <div>
          <i class="fa-solid {{this.icon}}"></i>
        </div>
        <div class="px-3 ">
          <h5>{{this.name}}</h5>
          <span class="fs-6 fw-lighter">{{this.date}}</span>
        </div>
      </div>
      {{!-- 金額 --}}
      <div>
        <span>{{this.amount}}</span>
      </div>
    </div>
    <div class="ms-5 d-flex ">
      <a class="btn btn-success" href="/records/{{ this._id }}/edit">修改</a>
      <form action="/records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;" class="mx-3">
        <button class="btn btn-danger" type="submit">刪除</button>
      </form>
    </div>
  </li>
  {{/each}}
</ul>
<br>
<div class="text-center">
  <a href="/records/new" class="btn btn-primary mb-3">新增支出</a>
</div>